<!DOCTYPE html>
<html>
<head>
    <title>You've been invited!</title>
</head>
<body>
    <h2>You've been invited!</h2>
    <p>Hello,</p>
    <p>You've been invited to join {{businessName}} on SharpInvoice. Click the link below to accept the invitation:</p>
    <p><a href="{{link}}">Accept Invitation</a></p>
    <p>If you don't have a SharpInvoice account yet, you'll need to create one with this email address.</p>
    <p>This invitation will expire in 7 days.</p>
    <p>Thanks,<br>The SharpInvoice Team</p>
</body>
</html> 